* {
    font-family: "Bookman Old Style";
}

body {
    background-color: rgb(0, 52, 119);
}

h1, h2 {
    text-align: center;
    color: rgb(16, 118, 165);
}

h2 {
    font-size: 20px;
}

button {
    color: rgb(16, 118, 165);
    background-color: rgb(0, 52, 119);
    border: 2px solid rgb(16, 118, 165);
    font-size: 16px;
    font-weight: bold;
    outline:0px;
    padding: 5px;
    border-radius: 12px;
    transition: 0.2s;
}

.button1 {
    position: relative;
    width: 120px;
    margin: 20px 5px 5px;
}

.button2 {
    display: flex; 
    margin: auto;
}

button:hover {
    color: rgb(70, 196, 255);
    border: 2px solid rgb(70, 196, 255);
    transition: 0.2s;
}

#game {
    margin: auto;
    width: 420px;
    padding: 16px;
    border: 2px solid rgb(16, 118, 165);
    border-radius: 12px;
}

#enemy-board {
    width: 100%;
    border-bottom: 1px solid rgb(16, 118, 165);
}

#player-board {
    width: 100%;
    border-top: 1px solid rgb(16, 118, 165);
}

#game-footer {
    border-top: 1px solid rgb(16, 118, 165);
    text-align: center
}

#controls {
    border-top: 1px solid rgb(16, 118, 165);
    margin: 0 auto;
}

#winner {
    border-bottom: 2px solid rgb(16, 118, 165);
}

#dice, #dice-enemy, #vue-logo {
    display: block;
    margin: auto;
    
}

#dice, #dice-enemy {
    transition: 0.3s;
}