* {
    font-family: "Bookman Old Style";
    background-color: rgb(0, 52, 119);
    color: rgb(16, 118, 165);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    font-size: 20px;
}

button, #game-area, #score-area {
    border: 2px solid rgb(16, 118, 165);
    outline:0px;
    border-radius: 12px;
}

.button1 {
    position: relative;
    width: 120px;
    margin: 10px 5px;
    margin-bottom: 5px;
}

.button2 {
    display: flex; 
}

button:hover {
    color: rgb(70, 196, 255);
    border: 2px solid rgb(70, 196, 255);
}

button, button:hover {
    transition: 0.2s;
}

#game-area, #score-area {
    margin: auto;
    width: 320px;
    padding-bottom: 4px;
}

#score-area {
    margin-top: 8px;
    height: 3.4em;
    transition-property: height;
    transition-duration: .3s;
}

#score-area.expand {
    height: 184px;
}

#score-content.visible {
    opacity: 1;
    animation: fadeIn .6s ease-in;
}

#score-content {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#score-area th, th {
    margin: 8px;
    text-align: justify;
}

button, th, #score-area th {
    padding: 4px;
}

#enemy-board, #winner {
    border-bottom: 2px solid rgb(16, 118, 165);
}

#controls, #footer {
    border-top: 2px solid rgb(16, 118, 165);
}

#game-footer, #footer, h1, h2 {
    text-align: center
}

#controls, #dice, #dice-enemy, #vue-logo, table, .button2 {
    margin: auto;
}

#dice, #dice-enemy, #vue-logo {
    display: block;
    transition: 0.3s;
}

#placeholder-score {
    min-height: 192px;
    padding-bottom: 8px;
}